/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(../images/back-sd.png);
    background-repeat: no-repeat;
    background-color: #1a1915;
    background-size: cover;
    padding: 20px 0 138px;
    color: #ffffff;
    text-align: center;
    min-width: 100%;
}

header span {
    display: block;
}

nav {
    margin-bottom: 28px;
}

nav button {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #ffffff;
    background-color: transparent;
}

.login-btn {
    border: 0;
    margin-right: 18px;
}

.singup-btn {
    border: 2px solid #ffffff;
    border-radius: 18px;
    width: 90px;
    height: 36px;
}

.page-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #ffffff;
}

.page-title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.page-title__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 14px;
}

.find-link-wrapper {
    width: 280px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(255, 78, 80);
    border-radius: 20px;
}

.find-link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
}

.container {
    width: 280px;
    margin: 0 auto;
}

.partners {
    padding: 72px 0 58px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #333333;
}

.partners-list {
    margin-bottom: 28px;
}

.partners-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 19px;
}

.partner-image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.partner-image-wrapper {
    margin: 0 auto 22px;
    position: relative;
    width: 122px;
    border: 0;
}

.partner-image-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center;
    border: 4px solid #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.partner1::before {
    background-image: url(../images/icons/icon1.png);
    background-color: rgb(255, 78, 80);
}

.partner2::before {
    background-image: url(../images/icons/icon2.png);
    background-color: rgb(255, 165, 7);
}

.partner3::before {
    background-image: url(../images/icons/icon3.png);
    background-color: rgb(28, 215, 173);
}

.partner4::before {
    background-image: url(../images/icons/icon4.png);
    background-color: rgb(78, 115, 219);
}

.partner-name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 18px;
}

.partner-resume {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #666666;
}

.other-partnets__link-wrapper {
    width: 280px;
    height: 44px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 22px;
    border: 2px solid rgb(255, 78, 80);
}

.other-partners__link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    color: #ff4e50;
}

@media (max-width: 767px) {
    .loging-block {
        margin-bottom: 115px;
    }
    .partners-item:not(:last-child) {
        margin-bottom: 28px;
    }
}

@media (min-width: 768px) {
    header {
        padding: 38px 0 234px;
        background-image: url(../images/back-md.png);
    }
    nav {
        width: 670px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 150px;
    }
    .login-btn {
        margin-right: 20px;
    }
    .page-title {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 40px;
    }
    .page-title__description {
        font-size: 24px;
        line-height: 29px;
        font-weight: 300;
        margin-bottom: 38px;
    }
    .page-title__description span {
        display: inline-block;
    }
    .find-link-wrapper {
        width: 226px;
    }
    .container {
        width: 492px;
    }
    .partners {
        padding: 76px 0 40px;
    }
    .partners-title {
        margin-bottom: 36px;
    }
    .partners-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .partners-item {
        flex-basis: 236px;
    }
    .partners-item:nth-child(2n) {
        order: 1;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .partners-item:not(:nth-child(2n)) {
        margin-bottom: 60px;
    }
    .partners-item:nth-child(-n+2) {
        margin-right: 20px;
    }
}

@media (min-width: 1000px) {
    header {
        background-image: url(../images/back-ld.png);
    }
    nav {
        width: 942px;
    }
    .find-link-wrapper {
        width: 226px;
    }
    .container {
        width: 942px;
    }
    .partners {
        padding: 74px 0 72px;
    }
    .partners-list {
        flex-wrap: nowrap;
    }
    .partners-item {
        flex-basis: 220px;
    }
    .partners-item:not(:last-child) {
        margin-right: 20px;
    }
}