:root {
  --main-background-color: #1abc9c;
  --secondary-background-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  
a {
  text-decoration: none;
}
  
ul,
ol {
  list-style: none;
}
  
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-container {
  width: 1600px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

             /* Navigation */
             
header {
  padding: 33px 0 26px;
}

.nav {
    margin: 0;
    padding: 0;
    width: 1110px;
}

.site-logo {
    float: left;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    text-decoration: none;
    color: #555252;
    letter-spacing: -1.5px;
}

.site-logo::first-letter {
    color: var(--main-background-color);
    font-family: var(--main-font);
    font-weight: 700;
}

.nav-ul {
    float: right;
    width: 465px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    list-style: none;
}

.nav-li {
    display: block;
    float: left;
}

.nav-li:not(:last-child) {
    margin-right: 29px;
}

.nav-li a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 11px;
    font-weight: 700;
    color: #0f0101;
}

.nav-li a:hover,
.nav-li a:focus {
    color: var(--main-background-color);
}

                /*   Slider   */

.slider-section {
  object-position: top;
  position: relative;
  height: 100%;
}

.slider-img {
 position: relative;
}

.slider-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/slide1_overlay.jpg);
  opacity: 0.52;
  display: none;
}

.slider-section:hover .slider-overlay {
  display: block;
}

.slider-ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 104px;
  transform: translate(-50%, -50%);
}

.slider-ctrl button{
  position: absolute;
  border: none;
  background-color: #4ec6ab;
  opacity: 0.651;
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.slider-ctrl button:hover {
  opacity: 1;
  background-color: var(--main-background-color);
}

.slider-ctrl__prev {
  left: 0;
  background-image: url(../images/icons/arrow_left.png);
}

.slider-ctrl__next {
  right: 0;
  background-image: url(../images/icons/arrow_right.png);

}

.slider-content {
  position: absolute;
  width: 780px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--main-font);
  color: var(--secondary-background-color);
}

.slider-content_title {
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  letter-spacing: -1.2px;
}

.slider-content_description {
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

            /* Collection */ 

.collection {
  background-color: #e9f0fd;
  padding: 94px 0 100px;
}

.collection-title {
  margin-bottom: 82px;
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: center;
}

.collection-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: var(--main-background-color);
  content: "";
  margin: 0 auto;
  margin-top: 24px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  position: relative;
  float: left;
  width: 255px;
  height: 324px;
}

.product-item:not(:last-child) {
  margin-right: 30px;
}

.product-footer {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-weight: 900;
  background-color: #323232;
  height: 40px;
  width: 100%;
}

.product-footer a {
  display: block;
  padding-left: 6%;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-background-color);
}

.product-price {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.44);
}

.product-price p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-background-color);
  line-height: 40px;
}

.product-item:hover .product-footer {
  background-color: var(--main-background-color);
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 10px;
  border-color: rgba(255, 255, 255, 0.651);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.651);
  background-clip: padding-box;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
}

.product-item:hover .overlay {
  opacity: 1;
}

.overlay-btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 110px;
}

.overlay-icons li {
  display: inline-block;
}

.overlay-icons li:not(:last-child) {
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-icon a {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  border-width: 1px;
  border-color: var(--secondary-background-color);
  border-style: solid;
}


.overlay-icon:hover {
  border-color: var(--main-background-color);
  background-color: var(--main-background-color);
}

.overlay-icon {
  margin-bottom: 4px;
}

.overlay-icon:nth-child(-n + 2) {
  margin-right: 9px;
}

.add {
  position: relative;
  border-width: 1px;
  border-color: var(--secondary-background-color);
  border-style: solid;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  width: 170px;
  height: 48px;
}

/* .add-wrapper */
.overlay-link {
  position: absolute;
  background-image: url(../images/icons/BUTTON_add.png);
  background-position: left 15px center;
  background-repeat: no-repeat;
  width: 100%;
  text-align: right;
  padding-right: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add:hover {
  background-color: #323232;
}

.add a {
  display: block;
  color: var(--secondary-background-color);
}


.like {
  background-image: url(../images/icons/BUTTON_like.png);
}

.change {
  background-image: url(../images/icons/BUTTON_change.png);
}

.clock  {
  background-image: url(../images/icons/BUTTON_clock.png);
}

/* Footer */

footer {
  padding: 34px 0;
  background-color: #323232;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #fefefe;
}

footer a {
  color: #fefefe;
}

footer a:hover {
  color: #46bfa9;
  letter-spacing: -0.5px;
}