html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.container {
    width: 1110px;
    margin: 0 auto;
}



body {
color: #555252;
}

img {

}



h2 {
    text-align: center;
    margin: 0;
    padding: 0;    
    text-transform: uppercase;
    font-size: 48px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #515151;
}

h2::after {
    /* Line */
    content: "";
}

/* Navigation */
header {
    margin-bottom: 100px;
}

.nav {
    text-align: center;
    overflow: hidden;
    height: auto;
}

h1 {
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 33px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
}

h1::first-letter {
    color: #1abc9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav-ul {

    margin: 0;
    padding: 0;
    padding-top: 42px;
    float: right;
    width: 465px;
}

.nav-li {
    display: inline-block;
}

.nav-li:not(:last-child) {
    margin-right: 30px;
}

.nav-li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 11px;
    font-weight: 700;
    color: #0f0101;
}

.nav-li a:hover,
.nav-li a:focus {
    color: #1abc9c;
}

/* Products */


/* News */

.news-list {
    font-size: 0;
    margin: 0;
    padding-bottom: 80px;
}
.news-title {
    
}

.blog-item {
    text-align: left;
    display: inline-block;
    width: 350px;
}

.blog-item:not(:last-child) {
    margin-right: 30px;
}

.image-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
}

.image-description::after {
    /* Line */
    content: "";
}

.blog-text {
    margin: 0;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Button */

.button {
    padding: 0;
    width: 165px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}