$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$title-stylized-color: 'Kaushan Script', cursive;
$main-text-color: #333333;
$secondary-text-color: #ffffff;
$description-color: #999999;
$main-bgrnd-color: #fce38a;
$underline-color: #f38181;
$overlay-bgrnd-gradient: linear-gradient(
  to bottom,
  rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9)
);
$overlay-shadow-color: #95e1d3;
$footer-border-color: #e7e7e7;
